*{margin:0;padding:0;}
*{box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
ul,ol{ list-style:none; }
a{color:inherit; text-decoration: none;}
input{font: inherit;}

body{
  font-size: 12px;
  line-height: 1.5;
}


/* layout */

.page{
  display: flex;
  height: 100vh;
}
.page > aside{
  width: 200px;
}
.page > main{
  flex-grow: 1;
  padding-left: 20px;
}

/* aside */
.page > aside{
  display: flex;
  flex-direction: column;
}
.newSong{
  text-align: center;
  padding: 10px;
}
.newSong.active{
  background: #d4d4d4;
}
#songList-container{
  flex-grow: 1;
}
.songList{
  text-align: left;
  border-top: 1px solid #999;
}
.songList > li{
  border-bottom: 1px solid #ddd; 
  padding: 10px; 
}
.songList > li.active{
  background: #d4d4d4;
}
.uploadArea{}
.draggable{
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  border: 2px dashed #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  flex-direction: column;
}
.clickable{
  cursor: pointer;
}

/* main */

.page > main{
  background: #d4d4d4;
}
.form {
  font-size: 14px;
}
.form > .row{
  margin: 20px 0;
  display: flex;
}
.form > .row > label{
  width: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
}
.form > .row.actions{
  margin-left: calc(4em + 5px);
}
.form input[type=text]{
  padding: 3px 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  height: 30px;
}
.form input[type=button],
.form input[type=submit],
.form button{
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.page > main {
  padding-top: 20px;
}
.page > main > .form{

}
/* loading */

@keyframes loading{
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.1);
  }
}
.site-loading{
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.2);
  pointer-events: none;
}
.site-loading.active{
  visibility: visible;
}
.site-loading::before{
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: green;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
  animation: loading 1s infinite alternate-reverse;
  animation-timing-function: linear;
}
